$content-width:1280px;
$default-font:'Circular', regular;
$default-size: medium -17px;
$default-weight:medium -400;

$breakpoint_xxl: 1185px;
$breakpoint_xl: 992px;
$breakpoint_md: 875px;
$breakpoint_sm: 575px;
$breakpoint_xs: 375px;






