@media (max-width:$breakpoint_xxl){

  header{
    .header__search-store img{
     width: 50%;
    }
    .header__store-form input {
      justify-content: center;
    }
  }
}
@media (max-width $breakpoint_xl){
  header {
    .header__menu-products {
      width: 100%;
      gap: 15px;
      flex-direction: column;
    }
    .header__navbar-menu {
      width: 100%;
      justify-content: center;
    }
  }
}
@media (max-width $breakpoint_md){
  header{
    .row{
      flex-direction: column;
    }
    .header__navbar-menu{
      width: 100%;
    }
  }
}


@media (max-width $breakpoint_sm){
  header{
    .header__navbar-menu{
      display: none;
    }
    .header__menu-products{
      width: 60%;
    }
    .row{
      align-items: center;
    }
  }
}
@media (max-width $breakpoint_xs){

}
